
#homepage #mainContent{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 10px;
    background-color: #ffffff;
}
#homepage #mainContent h1{
    font-size: 21px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
}
#homepage #mainContent #easy_content h2{
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    /*border-left: 4px solid #3472ef;*/
    margin: 10px 55px;
    text-align: left;
}
#homepage #mainContent #easy_content h3{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    padding: 0;
    margin: 10px 60px;
    text-align: left;
}
#homepage #mainContent #easy_content p.text{
    font-size: 16px;
    /*color: #000000;*/
    margin: 10px 55px;
    text-indent: 32px;
}

#homepage #mainContent #easy_content{
    margin: 20px 0;
    /*background-color: red;*/
}

#homepage #mainContent #easy_content #contentDemo{
    margin: 0;
    /*background-color: #a6e1ec;*/
}
#homepage #mainContent #easy_content #contentDemo code{
    width: 100%;
    margin: 0 87px;
    padding: 2px 0;
    font-family: '微软雅黑','宋体', '黑体', Arial, Helvetica, sans-serif;
}
#homepage #mainContent #easy_content #contentDemo table {
    margin: 0 88px;
    font-size: 15px;
}
#homepage #mainContent #easy_content #contentDemo #show_img{
    width: 900px;
    margin: 0 auto;
}
#homepage #mainContent #easy_content #contentDemo #show_img img{
    width: auto;
    height: 200px;
}